@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap");
@import "./animate";
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #e8eaf6;
    background: linear-gradient(400deg, #4b6cb7 0%, #182848 100%);
    text-align: justify;
    font-weight: 100;
    overflow-x: hidden;
    animation: enter 5s;
}

h1,
h2,
h3 {
    font-weight: 400;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #e8eaf6;
}

ul {
    list-style-type: none;
    padding: 0;
}

.btn {
    padding: 5px 20px !important;
    color: #e8eaf6;
    box-shadow: -1rem 0 3rem rgba(37, 37, 37, 0.5) !important;
    border-radius: 5px;
    border: #182848;
    font-size: 14pt;
    letter-spacing: 1px;
    font-weight: 400 !important;
    background: transparent;
    color: white;
    border: 2px solid #7510f7;
    transition: 0.5s;
    width: fit-content;
    cursor: pointer;
}

.btn:hover {
    background: #7510f7;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}