.footer-home {
		text-align: center;
		align-items: center;
		padding: 150px 20px 0;
		background: linear-gradient(-187deg, #4b6cb7 0%, #182848 100%);
		max-width: 100%!important;
	
		h3 {
			max-width: 450px;
			margin-bottom: 30px;
		}
	
		img {
			width: fit-content;
			margin: 20px 0;
			border-radius: 30%;
		}
		@media (max-width: 525px) {
			h3 {
				font-size: 12pt;
				max-width: 350px;
			}
		}
}